* {
margin:0px;
padding:0px;
font-family: 'Lato', 'Arial' sans-serif;
}

html{
    background-color: #333232;
    color: #312f2f;
}
header{
    text-align:center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    background-color: crimson;
    height:50px;
}

.sidebartop{
    position:absolute;
    overflow: hidden;
    top:0px;
    bottom:0;
    left:0;
    width:200px;
    height:50px;
    color: #242424;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background:rgb(195, 19, 53);
}

/* Styling for the clock widget*/
.clock{
			position: absolute;
      left: 77%;
      top: 25%;
			transform: translateX(-50%) translateY(-50%);
			color: #fff;
      background: #00BFFF;
			font-size: 60px;
			border: 1px solid #fff;
			padding: 0px 5px 0px 5px;
		}

/* Styling for Quote of the Day Widget*/
  .qotd{
    color: #fff;
    position: absolute;
    font-style: 'Lato', 'Arial';
    background: #ff4da6;
    width: 185px;
    height: 150px;
    left: 17%;
    top: 15%;
    font-size: 19px;


}
/* Styling for Date Widget*/
.currentDate{
			position: absolute;
      left: 40%;
      top: 20.5%;
			color: #fff;
      background: #4ef442;
			font-size: 60px;
			border: 1px solid #fff;
			padding: 0px 5px 0px 5px;
		}

/* Styling for calander Widget*/
    .cal{
      color: #330b44;
      position: absolute;
      font-style: 'Lato', 'Arial';
      background: #d57ff4;
      width: 200px;
      height: 150px;
      left: 17%;
      top: 50%;
      font-size: 16px;
  }
  

#widgets{
    position:absolute;
    text-align: center;
    top:50px;
    height: 700px;
    width:200px;
    background:#333232;
    color: #fff;
}

#dashboard{
    position: absolute;
    overflow: hidden;
    top:50px;
    bottom: 0;
    left:200px;
    right:0;
    color: white;
    background-color: #242222;
}

div[draggable] {
  transition: all 0.25s ease-in-out;
}

div[draggable]:hover {
  transform: scale(1.01) rotateY(-5deg) rotateX(2.5deg) rotateZ(0.5deg);
  box-shadow: 1ex 1ex 2em #999;
}

.appIcon {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 1ex;
  padding: 0;
}

.appIcon p {
  position: absoloute;
  top: 0;
  left: 1ex;
  color: #FFF;
  text-shadow: 0 0 1em black;
}

.scrollbar
{
	margin-left: 180px;
	float: right;
	height: 100%;
	width: 20px;
	background: #606060;
	overflow-y: scroll;
}


.footer{
    text-align: center;
    color: floralwhite;
    position:absolute;
    bottom:0;
    width:100%;
    height:20px;   /* Height of the footer */
    background:#343536;

}
